<h1>Depósito</h1>

<form [formGroup]="form" (ngSubmit)="deposito()">
  <div class="mb-3">
    <label class="form-label">Agência</label>
    <input type="text" class="form-control" formControlName="agencia">
  </div>
  <div class="mb-3">
    <label class="form-label">Conta</label>
    <input type="text" class="form-control"  formControlName="numeroConta">
  </div>
  <div class="md-3">
    <label for="">Valor</label>
    <input type="text" class="form-control" formControlName="valor">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">
      Aceito os termos de uso.
    </label>
  </div>

  <button type="submit" class="btn btn-dark" [disabled]="form.invalid">Depositar</button>
</form>
