<h1>Saque</h1>
<form [formGroup]="form">
  <div class="mb-3">
    <label class="form-label">Agência</label>
    <input type="number" class="form-control" formControlName="Agencia">
  </div>
  <div class="mb-3">
    <label class="form-label">Conta</label>
    <input type="number" class="form-control" id="exampleInputEmail1" formControlName="Conta">
  </div>
  <div class="md-3">
    <label for="">Valor</label>
    <input type="number" class="form-control" formControlName="Valor">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">
      Aceito os termos de uso.
    </label>
  </div>

  <button type="submit" (click)="onSubmit()" class="btn btn-dark" [disabled]="form.invalid">Enviar</button>
</form>

