<div class="row" style="align-items: center">
  <div class="col-5">
    <h1 class="mt-5 mb-4">Clientes</h1>
  </div>
</div>
<div class="container">
  <div class="row d-flex d-flex justify-content-end ">
      <div class="col-md-2 d-flex align-items-end ">
          <button *ngIf="clientes.length" class="btn btn-success btn-sm ms-20 "routerLink="/cadastrar-clientes" routerLinkActive="active">Cadastrar Cliente</button>
      </div>
  </div>
  <br>
<div *ngIf="!clientes.length" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Carregando...</span>
  </div>
</div>

<table *ngIf="clientes.length" class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-mail</th>
      <th scope="col">Observações</th>
      <th scope="col">Ativo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.id}}</td>
      <td>{{ cliente.nome}}</td>
      <td>{{ cliente.cpf}}</td>
      <td>{{ cliente.email}}</td>
      <td>{{ cliente.observacoes}}</td>
      <td>
        <i *ngIf="cliente.ativo" class="fas fa-thumbs-up text-success"></i>
        <i *ngIf="!cliente.ativo" class="fas fa-thumbs-down text-danger"></i>
      </td>
      <td>
        <a [routerLink]="['/cadastrar-clientes/', cliente.id]">
          <i class="far fa-edit" style="margin-right: 10px; cursor:pointer"></i>
        </a>
        <i class="fas fa-trash-alt text-danger" (click)="deletar(cliente.id)" style="cursor:pointer"></i>
      </td>
    </tr>
  </tbody>
</table>
